{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>
    {% if perms.catalog.can_mark_returned %}
        <a role="button" class="btn btn-success" href="{% url 'book-create' %}">Create Book</a>
    {% endif %}
    {% if book_list %}
        <ul>
            <hr>
            {% for book in book_list %}
                <li class="pb-1">
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }})
                    {% if perms.catalog.can_mark_returned %}
                        <a role="button" class="btn btn-warning btn-sm" href="{% url 'book-update' book.id %}">
                            Update
                        </a>
                    {% endif %}

                    {% if perms.catalog.can_mark_returned %}
                         <a role="button" class="btn btn-danger btn-sm" href ="{% url 'book-delete' book.id %}">
                             Delete
                         </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
